#debate {
  margin-bottom: 20px;
}

.align-center{
  text-align: center;
}

join-btn {
  text-align: center
}

#debate {
  margin: 0;
  width: 100%;
}

.debate-default {
  background-color: purple;
  border-radius: 5px;
}

.full-screen-static {
  margin: 20px;
}

.full-screen-anim {
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.9;
  background-color: purple;
  border-radius: 20px;
  z-index:100;
}

.hide {
  visibility: hidden;
}

#close-icon {
  /*float: right;*/
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 5px;
  background-color: #e6e6e6;
  border-radius: 100%;
}

#close-icon:hover {
  background-color: #db4d4d;
}

#debate-web-full {
  background-color: purple;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 20px;
  z-index: 2;
  opacity: 0.9;

      /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.full-center {
  text-align: center;
  width: 35%;
  height: 20%;
  /*margin-top: 10 auto;
  margin-left: 10 auto;*/
  border-radius: 100%/80%;
  background-color: blue;
}

.subclaim {
  width: 35%;
  height:20%;
  background-color: green;
  text-align: center;
}
